---
layout: page
title: "Archive"
description: "All of my articles."
header-img: "img/archive-bg.jpg"
---

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	
			<ul class="listing">
			{% for post in site.posts %}
			  {% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
			  {% if year != y %}
			    {% assign year = y %}
			    <li class="listing-seperator">{{ y }}</li>
			  {% endif %}
			  <li class="listing-item">
			    <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
			    <a href="{{ post.url | prepend: site.baseurl}}" title="{{ post.title }}">
			    	<h2 class="post-title">
			    		{{ post.title }}
			    	</h2>
			    </a>
			  </li>		
			{% endfor %}
			</ul>
	
		</div>
	</div>
</div>

