---
layout: page
title: "Archive"
description: "All of my articles."
header-img: "static/img/archive-bg.jpg"
---

<!-- Main Content -->
{% for post in site.posts %}
<div class="one-tag-list">
	<span class="fa fa-archive listing-seperator">
		{% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
		{% if year != y %}
		{% assign year = y %}
			<span class="tag-text">{{ y }}</span>
		{% endif %}                  
    </span>

	<li class="post-preview">
	<time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
	<a href="{{ post.url | prepend: site.baseurl }}"" title="{{ post.title }}"">{{ post.title }}</a>
	</li>
				 
	<hr>
</div>
{% endfor %}