<!DOCTYPE html>
<html lang="zh-CN">
  {% include header.html %}
  <body>
    <header>
      <div id="header">
        <h1><a title="{{ site.name }}" class="" href="/">{{ site.name }}</a></h1>
      </div>
      <nav>
        {% for nav in site.data.navigation %}
        <span><a title="{{ nav.title }}" href="{{ nav.href }}"><i class="{{ nav.class }}"></i></a></span>
        {% endfor %}
      </nav>
    </header>
    <div id="content">
    {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
