---
layout: default
---

<article>
  <section class="title">
    <h2>{{ page.title }} </h2>
  </section>
  <section class="meta">
  <span class="time">
    <!-- <i class="fa fa-calendar"></i> -->
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
  {% if page.tags %}
  <!-- <i class="fa fa-tags"></i> -->
  <span class="tags">
    {% for tag in page.tags %}
    <a href="/tag.html#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </span>

  <!-- LikeBtn.com BEGIN
  <span class="likebtn-wrapper" data-theme="squarespace" data-identifier="item_1" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-share_enabled="false"></span>
  <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
  LikeBtn.com END -->

  {% endif %}
  </section>
  <section class="post">
  {{ content }}
  </section>

  <div class="divider">
    <span>
    {% if page.previous %}
    <a href="{{ page.previous.url }}"><i class="fa fa-chevron-left">{{ page.previous.title }}</i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
    <!-- BEGIN comment icon
    <span><a href="javascript:leave_comment();" id="leave_comment_link"><i class="fa fa-comment-o"></i></a></span>
    <span><a href="javascript:collapse_comment();" id="collapse_comment_link" style="display:none;"><i class="fa fa-chevron-up"></i></a></span>
     END comment icon -->

    <span>
    {% if page.next %}
    <a href="{{ page.next.url }}"><i class="fa fa-chevron-right">{{ page.next.title }}</i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
  </div>

  {% if page.comments %}
  <section class="comment">
    <div id="disqus_thread"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    var disqus_shortname = "{{site.disqus_username}}"; // required: replace example with your forum shortname

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
  {% endif %}
</article>

<!-- 到其他网址的link添加 target=“_blank”
<script type="text/javascript">
var links = document.links;

for (var i = 0, linksLength = links.length; i < linksLength; i++) {
   if (links[i].hostname != window.location.hostname) {
       links[i].target = '_blank';
   }
}
</script>
-->