---
layout: default
---

<article>
  <section class="title">
    <h2>{{ page.title }} </h2>
  </section>
  <section class="meta">
  <span class="time">
    <i class="fa fa-calendar"></i>
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
  {% if page.tags %}
  &nbsp;<i class="fa fa-tags"></i>
  <span class="tags">
    {% for tag in page.tags %}
    <a href="/tag.html#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
    {% endfor %}
  </span>
  
  <!-- LikeBtn.com BEGIN
  <span class="likebtn-wrapper" data-theme="squarespace" data-identifier="item_1" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-share_enabled="false"></span>
  <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
  LikeBtn.com END -->
  
  {% endif %}
  </section>
  <section class="post">
  {{ content }}
  </section>

  <div class="divider">
    <span>
    {% if page.previous %}
    <a href="{{ page.previous.url }}"><i class="fa fa-chevron-left">{{ page.previous.title }}</i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
    <!-- BEGIN comment icon
    <span><a href="javascript:leave_comment();" id="leave_comment_link"><i class="fa fa-comment-o"></i></a></span>
    <span><a href="javascript:collapse_comment();" id="collapse_comment_link" style="display:none;"><i class="fa fa-chevron-up"></i></a></span>
     END comment icon -->

    <span>
    {% if page.next %}
    <a href="{{ page.next.url }}"><i class="fa fa-chevron-right">{{ page.next.title }}</i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
  </div>

  {% if site.disqus_username %}
  <!-- disqus 评论框 start -->
  <div class="comment">
      <div id="disqus_thread" class="disqus-thread"></div>
  </div>
  <!-- disqus 评论框 end -->
  {% endif %}

  {% if site.disqus_username %}
  <section class="comment">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = "{{site.disqus_username}}"; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
  {% endif %}
</article>

<!-- 到其他网址的link添加 target=“_blank” 
<script type="text/javascript">
var links = document.links;

for (var i = 0, linksLength = links.length; i < linksLength; i++) {
   if (links[i].hostname != window.location.hostname) {
       links[i].target = '_blank';
   } 
}
</script>
-->